/* Styles for table */
/* Apply basic styling to the page */
body {
    font-family: Arial, sans-serif;
    
    background-color: black;
  }
  
  h1 {
    padding-top: 30px;
    padding-left: 45px;
    color: white;
  }
  
  /* Style the form for adding new students */
  form {
    padding: 40px;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 50px;
    }
  
 
  
  form input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    background-color: black;
    color: white;
  }
  
  form button {
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    background-color: white;
    color:black;
    font-size: 1rem;
    cursor: pointer;
  }
  
  /* Style the search box */
  #search {
    display: block;
    margin: 2rem auto;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
    max-width: 1090px;
    background-color: black;
    color: white;
  }
  
  /* Style the table for displaying the list of students */
  table {
    width: 100%;
    max-width: 1100px;
    margin: 2rem auto;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 0.5rem;
    text-align: left;
    color: #fff;
    border: 1px solid #ccc;
    
  }
  
  th {
  
    color: #fff;
  }
  
  td.actions {
    text-align: center;
  }
  
  /* Style the edit and delete buttons */
  .actions button {
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  /* .actions button.edit {
    background-color: #2196f3;
    color: #fff;
    margin-right: 0.5rem;
  } */
  
  .actions button.delete {
    background-color: #f44336;
    color: #fff;
  }
  #add-student-btn{
  width: 400px;

  }

  .edit-img{
  
    max-width: 10px;
   

  }

  .edit-btn{
    position: absolute;
    right: 10%;
  }

  .delete-btn{
    position: absolute;
    right: 7.5%;
  }

 